*{
    color: black;
    font-family: "Poppins", sans-serif;
    margin: 0;
    overflow-x: hidden;
}

nav{
    background-color: #f0f0f0;
    height: 70px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.NavBar{
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.Logo{
    margin: 10px;
    display: flex;
    justify-content: start;
    width: 60px;
    overflow: hidden;
}

.LogoNav{
    width: 100%;
    object-fit: cover;
}

.LogoNavLink{
    width: 200px;
    height: 60px;
}

.menu{
    width: 40%;
    display: flex;
    justify-content: center;
}

.li-nav{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 5px;
    align-items: center;
}

.ul-nav{
    width: 80%;
    list-style: none;
    display: flex;
}

.nav-menu{
    font-weight: 600;
    text-decoration: none;
    border-bottom: none;
}

.nav-menu:hover{
    color: #ff9500;
    border-bottom: 2px solid #ff9500;
}

.SidebarDashboard{
    padding: 40px 0 0 30px;
    width: 220px;
    height: 100vh;
    position: fixed;
    display: block;
    background-color: #2c3f50;
}

.SidebarMenu{
    width: auto;
    margin: 15px 0;
}

.SideMenu{
    color: #fff;
    text-decoration: none;
    border-bottom: none;
    transition: .4s ease;
}

.SideMenu:hover{
    color: #03ffeb;
    padding-left: 8px;
}

.DashboardContainer{
    padding: 15px 0;
    height: auto;
    margin-left: 270px;
}

.InnerDashboard{
    width: 95%;
    padding-right: 40px;
}

.Card{
    margin: 10px;
    border-radius: 8px;
    padding: 10px 30px;
}

.InnerCard{
    width: 100%;
    padding: 10px;
}

.DashboardForm{
    width: 100%;
    margin: 16px 0;
    display: flex;
    flex-direction: column;
}

#form{
    border-collapse: collapse;
    width: 100%;
    padding: 20px;
}

#form td, #form th{
    border: 1px solid #000;
    padding: 8px;
    font-size: 12px;
}

#form tr:nth-child(even){
    background-color: #f2f2f2;
}

#form tr:hover{
    background-color: #6c6c6c;
}

#form th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0080ef;
    color: white;
}

.edittitle{
    font-size: 14px;
    margin-right: 30px;
}

.editlabel{
    width: 80%;
}

.textarea{
    height: 100px;
}

.ButtonFile{
    width: 160px;
    height: 30px;
    border-radius: 30px;
    background-color: #005f9f;
    transition: .4s;
}

.inputFile{
    width: 2000px;
    height: 30px;
    background-color: #000;
}

.ButtonFile:hover{
    background-color: #0099ff;
}

footer{
    height: 320px;
    background-color: #2c3f50;
    padding-top: 40px;
}

.Footer{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
}

.InnerFooter{
    margin: 0 10px 0 10px;
    display: flex;
    justify-content: space-between;
}

.InnerFooter > div{
    margin: 0 15px 0 15px;
}

.FooterInfo{
    width: 40%;
}

.FooterInfoIcon{
    display: flex;
    justify-content: center;
}

.FooterLogo{
    height: 125px;
}

.FooterContent{
    display: block;
    width: 40%;
}

.FooterContentTitle{
    color: #fff;
}

.FooterContentSeparator{
    width: 120px;
    border-bottom: 2px solid #fff;
    margin-bottom: 18px;
}

.FooterTail{
    width: 100%;
    justify-content: center;
    display: flex;
    margin-top: 12px;
}

.FooterTailText{
    color: #ababab;
}

.FooterLink{
    color: #fff;
    text-decoration: none;
    transition: 0.6s;
    display: block;
    margin-bottom: 4px;
}

.FooterLink:hover{
    color: #f9e73d;
    padding-left: 20px;
}

.LineGap{
    border-bottom: 2px solid #fff;
}

.BannerCanvas{
    width: 100%;
    background-color: #929292;
}

.ActiveBanner{
    width: 100%;
    height: 450px;
    /* background-image: url("/img/banner-test.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80% 60%; */
}

.Banner{
    width: 100%;
    height: 450px;
    position: absolute;
}

.Container{
    width: 100%;
    height: auto;
    /* padding: 20px 0; */
}

.InnerContainer{
    width: 70%;
    height: 100%;
    margin: auto;
    padding: 20px 0;
    display: flex;
}

.FullContainer{
    width: 100%;
    margin: auto;
}

.InnerContent{
    width: 100%;
    margin: 0 20px 0 20px;
    display: flex;
}

.ContainerBanner{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.ContainerImage{
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 30px;
}

.ContainerImageFull{
    width: 100%;
    height: 600px;
    position: absolute;
}

.ContainerContent{
    padding: 10px;
}

.ContainerContent, .ContainerBanner{
    width: 50%;
}

.ContainerLink{
    margin: 30px 0 30px 0;
}

.ContainerList{
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.FullContent{
    width: 60%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.VisiMisi{
    width: 50%;
    margin: 20px;
}

.VisiMisiContainer{
    width: 80%;
}

.VisiMisiList{
    width: 60%;
}

.VisiMisiBanner{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.VisiMisiIcon{
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
}

.LoginContainer{
    width: 100%;
    height: auto;
    margin: 20px 0;
    top: 20vh;
    position: absolute;
}

.LoginContent{
    background-color: #549294;
    width: 400px;
    height: 260px;
    padding: 20px;
    display: flex;
    justify-content: center;
    box-shadow: 2px 6px 4px 3px rgba(157, 157, 157, 0.3);
}

.Login{
    width: 80%;
    display: block;
}

.LoginForm{
    top: 6%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.LoginLabel{
    margin: 10px 0;
}

.LoginInput{
    width: 220px;
    height: 26px;
}

.LoginButton{
    width: 220px;
    margin: 20px 0;
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #3e9840;
    border: 2px solid #000;
    border-radius: 20px;
    text-decoration: none;
    transition: all .4s ease;
}

.LoginButton:hover{
    background-color: #41cd43;
    cursor: pointer;
    transform: scale(1.03);
}

.Button{
    width: 160px;
    height: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #005f9f;
    border-radius: 20px;
    text-decoration: none;
    transition: .4s ease;
    color: #fff;
    border: none;
}

.Button:hover{
    background-color: #0099ff;
    cursor: pointer;
}

.ContactContainer{
    width: 80%;
    margin: auto;
    background-color: #929292;
}

.ContactInfo{
    padding: 20px;
    display: block;
}

.ContactInfoLabel{
    width: 40%;
    margin: 20px 40px;
}

.ListCategory{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0;
}

.Category{
    margin: 10px 50px;
    cursor: pointer;
    transition: .3s;
}

.Category:hover{
    color: #f9e73d;
    font-weight: 500;
    transform: scale(1.1);
}

.ProductNavigation{
    width: 85%;
    height: auto;
    border: 2px solid #0000002e;
    border-radius: 20px;
    padding: 10px;
    gap: 10px;
    display: grid;
    overflow: hidden;
    margin: auto;
}

.NavigationList1{
    display: flex;
}

.NavigationList2{
    display: grid;
    grid-template-areas:
    'navigation1 navigation1 navigation1 navigation1'
      'navigation2 navigation2 navigation3 navigation3'
      'navigation2 navigation2 navigation4 navigation4';
    gap: 10px;
}

.NavigationList3{
    display: flex;
    gap: 10px;
}

.Navigation1{
    width: 100%;
    height: 240px;
    background: url('/img/banner_navigation1.jpg') no-repeat;
}

.Navigation2{
    height: 500px;
    grid-area: navigation2;
    background: url('/img/banner_navigation2.jpg') no-repeat;
}

.Navigation3{
    height: 240px;
    grid-area: navigation3;
    background: url('/img/banner_navigation3.jpg') no-repeat;
}

.Navigation4{
    height: 240px;
    grid-area: navigation4;
    background: url('/img/banner-test.png') no-repeat;
}

.Navigation5{
    width: 50%;
    height: 240px;
    background: url('/img/banner_navigation5.jpg') no-repeat;
}

.Navigation6{
    width: 50%;
    height: 240px;
    background: url('/img/banner-test.png') no-repeat;
}

.Navigation1, .Navigation2, .Navigation3, .Navigation4, .Navigation5, .Navigation6{
    background-color: #EEEEEE;
    display: flex;
    align-items: start;
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid #cbcbcb;
    transition: .4s ease;
    opacity: .9;
    scale: .98;
}

.Navigation1:hover, .Navigation2:hover, .Navigation3:hover, .Navigation4:hover, .Navigation5:hover, .Navigation6:hover{
    opacity: 1;
    transform: scale(1.01);
}

.ProductContainer{
    width: 80%;
    margin: auto;
    justify-content: center;
    display: flex;
    justify-items: center;
}

.ProductList{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.ListProductCategory{
    width: 80%;
    height: 50px;
    display: flex;
    margin: auto;
    justify-content: center;
    background-color: #000;
    border-radius: 10px;
    align-items: center;
}

.ProductCard{
    max-width: 400px;
    height: auto;
    padding: 20px;
    margin: 20px 15px;
    flex: 0 0 calc(27% - -1px);
    border: 2px solid #dadada;
    box-shadow: 3px 4px 4px 3px rgba(157, 157, 157, 0.1);
}

.ProductImageContainer{
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.ProductImage{
    width: 55%;
    object-fit: cover;
    padding: 10px;
    transition: .4s;
    opacity: .8;
    overflow: hidden;
}

.ProductImage:hover{
    transform: scale(1.03);
    opacity: 100;
}

.ProductTitle{
    width: 100%;
    display: flex;
    justify-content: center;
}

.ProductCategoryContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
}

.CategoryCard{
    width: 190px;
    height: 190px;
    margin: 10px;
    border: 2px solid #000;
    background-color: #929292;
    transition: .4s;
}

.CategoryCard:hover{
    transform: scale(1.05);
}

.CategoryContainer{
    padding: 15px 0;
}

.MenuContainer{
    width: 100%;
    display: flex;
}

.MenuCard{
    width: 400px;
    height: 380px;
    margin: 15px;
    border: 2px solid rgb(241 , 241, 241);
    box-shadow: 9px 5px 19px 1px rgba(185, 185, 185, 0.2);
    transition: all .4s;
}

.MenuCard:hover{
    transform: scale(1.05);
}

.CardTitleContainer{
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
}

.CategoryCardTitle{
    width: 90%;
    padding: 10px;
    top: 55%;
    position: relative;
    text-decoration: none;
}

.CardTitle{
    width: 100%;
    position: relative;
    top: 85%;
}

.InquiryContainer{
    width: 100%;
    height: 300px;
    background-color: #929292;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    background: url('/img/bg_inquiry2.jpg') no-repeat;
    background-position: 100% 60%;
}

.Inquiry{
    margin-right: 40px;
}

.item1{
    grid-area: item1;
    height: 130px;
}
.item2{
    grid-area: item2;
    height: 260px;
}
.item3{
    grid-area: item3;
    height: 130px;
}
.item4{
    grid-area: item4;
    height: 130px;
}
.item5{
    grid-area: item5;
    height: 130px;
}
.item6{
    grid-area: item6;
    height: 130px;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'item1 item1 item1 item1'
    'item2 item2 item3 item3'
    'item2 item2 item4 item4'
    'item5 item5 item6 item6';
  gap: 10px;
  border-radius: 30px;
  background-color: #ffffff;
  padding: 30px;
}

.grid-container > a{
  background-color: #EEEEEE;
  box-shadow: 0 0 10px 0 rgba(241, 241, 241, 0.3);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  border: 2px solid #000;
  cursor: pointer;
}

.whiteseparator{
    border-bottom: 3px solid #fff;
}

.gap-20{
    height: 20px;
}

.card-spacer{
    height: 200px;
}

.white{
   color: #fff; 
}

.black{
    color: #000;
}

.text_small, li.small, span.small, p.small, a.small, b.small, i.small, u.small, h1.small, h2.small, h3.small, h4.small, h5.small, h6.small{
    font-size: 15px;
}

.text_medium, li.medium, span.medium, p.medium, a.medium, b.medium, i.medium, u.medium, h1.medium, h2.medium, h3.medium, h4.medium, h5.medium, h6.medium{
    font-size: 18px;
}

.text_big, li.big, span.big, p.big, a.big, b.big, i.big, u.big, h1.big, h2.big, h3.big, h4.big, h5.big, h6.big{
    font-size: 22px;
}

.text_xl, li.xl, span.xl, p.xl, a.xl, b.xl, i.xl, u.xl, h1.xl, h2.xl, h3.xl, h4.xl, h5.xl, h6.xl{
    font-size: 32px;
}

.text_light, li.light, span.light, p.light, a.light, b.light, i.light, u.light, h1.light, h2.light, h3.light, h4.light, h5.light, h6.light{
    font-weight: 300;
}

.text_reguler, li.reguler, span.reguler, p.reguler, a.reguler, b.reguler, i.reguler, u.reguler, h1.reguler, h2.reguler, h3.reguler, h4.reguler, h5.reguler, h6.reguler{
    font-weight: 400;
}

.text_semibold, li.semibold, span.semibold, p.semibold, a.semibold, b.semibold, i.semibold, u.semibold, h1.semibold, h2.semibold, h3.semibold, h4.semibold, h5.semibold, h6.semibold{
    font-weight: 500;
}

.text_bold, li.bold, span.bold, p.bold, a.bold, b.bold, i.bold, u.bold, h1.bold, h2.bold, h3.bold, h4.bold, h5.bold, h6.bold{
    font-weight: 700;
}

.text_bolder, li.bolder, span.bolder, p.bolder, a.bolder, b.bolder, i.bolder, u.bolder, h1.bolder, h2.bolder, h3.bolder, h4.bolder, h5.bolder, h6.bolder{
    font-weight: 800;
}

.text_center, span.center, p.center, a.center, b.center, i.center, u.center, h1.center, h2.center, h3.center, h4.center, h5.center, h6.center{
    text-align: center;
}

.text_justify, span.justify, p.justify, a.justify, b.justify, i.justify, u.justify, h1.justify, h2.justify, h3.justify, h4.justify, h5.justify, h6.justify{
    text-align: justify;
}

.text_underline, span.underline, p.underline, a.underline, b.underline, i.underline, u.underline, h1.underline, h2.underline, h3.underline, h4.underline, h5.underline, h6.underline{
    text-decoration: underline;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.flex{
    display: flex;
}